<div class="container">
    <div class="row">
    	<div class="col-xs-12">
    		<h1>i am the app component</h1>
            <hr>
            <app-servers></app-servers>

    	</div>
    </div>
</div>
