<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName" >

<!-- <p> {{serverName}} </p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()" >add server</button>
<!-- <p>{{ allowNewServer  }}</p> -->
<!-- <p [innerText]="allowNewServer" ></p> -->
<!-- <p> {{serverCreationStatus}} </p> -->
<p *ngIf="serverCreated; else noServer"> server was created ,server name is {{serverName}} </p>
<!-- <ng-template #noServer><p > No server was created  </p><ng-template> -->
<app-server *ngFor="let server of servers"></app-server>
